<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Contato</title>
</head>
<body>
	<h:form>
		<h1>Contato</h1>
		<h:commandLink value="Home" action="index?faces-redirect=true" />
		<h:commandLink value="saiba mais 3" action="#{bean.sobre}"/><br/><br/>
		<hr></hr>
		Nome:
		<h:inputText value="#{bean.contato.nome}" />
		<br />
		Email:
		<h:inputText value="#{bean.contato.email}"  />
		<br />
		Texto:
		<h:inputTextarea value="#{bean.contato.texto}"/>
		<br />
		<h:commandButton value="Enviar" action="#{bean.enviar}"/>
		<br />
		<h:dataTable></h:dataTable>
		<ol>
			<ui:repeat var="p" value="#{bean.contatos}">
				<li>#{p.nome} - #{p.email} - #{p.texto}</li>
			</ui:repeat>
		</ol>
	</h:form>
</body>
</html>