<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Home</title>
</h:head>
<h:body>
<h:form>
	<h:commandLink value="Sobre"
		action="sobre?faces-redirect=true" />
	<br />
	<br />
	<h:commandButton value="Contato" action="contato?faces-redirect=true" />
	
	<br />
	<br />
</h:form>
</h:body>
</html>