<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Sobre</title>
</head>
<body>
	<h:form>
		
		<h1>Sobre o sistema </h1>
		<h:commandLink value="Home" action="index?faces-redirect=true" />
		<hr></hr>
		<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed arcu at ipsum condimentum congue id id 
		lorem. Sed et ante dolor. Quisque fringilla, mauris ac aliquet semper, ipsum risus rutrum enim, sit amet bibendum 
		enim leo at ex. Duis vitae volutpat dolor. Pellentesque laoreet purus ut est elementum, quis convallis dolor 
		</p>
	</h:form>
</body>
</html>